server {
    # 只监听443端口,并且要求走SSL/TLS加密
    # 443 是 HTTPS(加密网页协议)的国际通用标准端口
    listen 443 ssl;
    server_name localhots;

    # 只监听443端口,并且要求走SSL/TLS加密
    ssl_certificate     /etc/nginx/ssl/inception.crt;
    ssl_certificate_key /etc/nginx/ssl/inception.key;

    # 限定只用这两个较新、较安全的TLS版本
    ssl_protocols       TLSv1.2 TLSv1.3;

    # 告诉NGINX,网站文件在容器内的这个路径下
    root /var/www/html;
    index index.php index.thml;

    # try_files的意思是"先看这个URL对应的文件/目录是否真实存在,如果都不存在,就交给index.php去处理"
    # 因为WordPress的很多"页面"其实不是真实文件,而是由index.php动态生成的
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    # 正则匹配规则(区分大小写),专门拦截所有以.php结尾的请求
    location ~ \.php$ {
        # 把这类请求,通过FastCGI协议,转发给wordpress这个容器名的9000端口,交给php-fpm去处理
        fastcgi_pass    wordpress:9000;

        fastcgi_index   index.php;

        # 告诉php-fpm"具体要执行哪个PHP文件
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
    # FastCGI就是nginx(不会执行PHP代码)和php-fpm(专门执行PHP代码)之间"对话"用的协议规则
    # nginx用这套协议把请求信息打包发过去,php-fpm执行完PHP代码后,再用这套协议把结果打包传回来
}