server {
    # Listen only on port 443 and require SSL/TLS encryption.
    # Port 443 is the standard port used worldwide for HTTPS (the encrypted web protocol).
    listen 443 ssl;
    server_name peiyli.42.fr;

    # Path the SSL/TLS certificate and associete private key
    # Transport Layer Security
    ssl_certificate     /etc/nginx/ssl/inception.crt;
    ssl_certificate_key /etc/nginx/ssl/inception.key;

    # Limit TLS version
    ssl_protocols       TLSv1.2 TLSv1.3;

    root /var/www/html;
    index index.php index.html;

    # Check if the URL really exists, if not, pass it to index.php to generate the page
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    # Case-sensitive regular expression matching rule, handling all requests ending in .php
    location ~ \.php$ {
        # Forward the requests to port 9000 of the WordPress container via the FastCGI protocol,
        # where they are handled by PHP-FPM (9000 is the default port for PHP-FPM)
        fastcgi_pass    wordpress:9000;

        fastcgi_index   index.php;

        # Show PHP-FPM the full path of the PHP script to execute
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;

        # Include standard FastCGI parameters required by PHP-FPM
        include fastcgi_params;
    }
    # FastCGI is the protocol used for communication between Nginx and PHP-FPM
    # PHP-FPM is a background service specifically responsible for executing PHP code
}